body {
    background-color: #e0f7fa;
    font-family: Helvetica, sans-serif;
}
header {
    background-color: #006064;
    color: white;
    padding: 25px;
    text-align: center;
}
main {
    padding: 25px;
}
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 15px;
}